.version._2019lights_carrier /* version checker */
{
	color: #0000F9;
	background-color: #B1667D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 414px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 25px 20px 61px;
}

#pu267-4
{
	width: 0.01px;
}

#u267-4
{
	z-index: 10;
	position: relative;
	width: 230px;
	margin-right: -10000px;
}

#u265-4
{
	z-index: 2;
	position: relative;
	width: 230px;
	margin-right: -10000px;
	left: 230px;
}

#u266-4
{
	z-index: 6;
	position: relative;
	width: 230px;
	margin-right: -10000px;
	left: 690px;
}

#u267-4_img,#u265-4_img,#u266-4_img
{
	display: block;
	vertical-align: top;
}

#u278
{
	z-index: 14;
	width: 495px;
	height: 355px;
	margin-left: 213px;
	margin-top: 38px;
	position: relative;
	background: transparent url("../images/img_1293.jpg") no-repeat left top;
	background-size: cover;
}

#u279-4
{
	z-index: 15;
	display: block;
	vertical-align: top;
	margin-left: 213px;
	position: relative;
}

#u288-13
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 213px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

